saved

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/services/view/.pnp
/services/view/.pnp.js
/services/view/.yarn/install-state.gz

# testing
/services/view/coverage

# next.js
/services/view/.next/
/services/view/out/

# build files
build/
tsc_out/

# misc
/services/view/.DS_Store
/services/view/*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

#key file
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/services/chat/tmp/
/services/authdb/data/
/services/chatdb/data/
/services/auth/tmp/

# terraform
.terraform
terraform.tfstate*
secrets.tfvars

