services:
  auth:
    image: messenjo-auth:dev
    container_name: messenjo-auth-dev
    environment:
      - HOST=${HOST}
    build:
      context: ./services/auth
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/auth:/app
    env_file:
      - ./services/auth/.env.dev

  chat:
    image: messenjo-chat:dev
    container_name: messenjo-chat-dev
    user: ${MY_UID}:${MY_GID} # to make the host be able to modify or delete files created in the container
    build:
      context: ./services/chat
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/chat:/app
    env_file:
      - ./services/chat/.env.dev
    depends_on:
      - auth
      - chatdb
      - redis

  streaming:
    image: messenjo-streaming:dev
    container_name: messenjo-streaming-dev
    build:
      context: ./services/streaming
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/streaming:/app
      - /app/node_modules
    env_file:
      - ./services/streaming/.env.dev
    depends_on:
      - auth
      - chat
      - redis

  view:
    image: messenjo-view:dev
    container_name: messenjo-view-dev
    environment:
      - HOST=${HOST}
    build:
      context: ./services/view
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/view:/app
      - /app/node_modules
      - /app/.next
    depends_on:
      - chat
      - envoy

  chatdb:
    image: postgres:16-alpine
    container_name: messenjo-chatdb-dev
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
    volumes:
      - ./services/chatdb/data/dev:/var/lib/postgresql/data
    ports:
      - 5432:5432

  redis:
    image: ghcr.io/microsoft/garnet-alpine
    container_name: messenjo-redis-dev
    build:
      context: ./services/redis

  envoy:
    image: envoyproxy/envoy:distroless-v1.30-latest
    container_name: messenjo-envoy-dev
    volumes:
      - ./services/envoy/envoy.yaml:/etc/envoy/envoy.yaml
    attach: false
    depends_on:
      - auth
      - chat

  nginx:
    image: nginx:stable-alpine
    container_name: messenjo-nginx-dev
    volumes:
      - ./services/nginx/nginx.conf.dev:/etc/nginx/nginx.conf:ro
      - ./services/nginx/conf.d:/etc/nginx/conf.d
    ports:
      - 3000:80
    depends_on:
      - auth
      - view
      - streaming
      - envoy

  pgadmin:
    image: dpage/pgadmin4
    container_name: messenjo-pgadmin-dev
    environment:
      PGADMIN_DEFAULT_EMAIL: dev@dev.com
      PGADMIN_DEFAULT_PASSWORD: dev
    attach: false
    ports:
      - 5050:80
